<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/setup_pages.css"/>
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/views/client-start.js"></script> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <p><h1 align="center" class="welcome">Welcome to the Start Page!</h1></p>
  <p><h3 align="center">Get started by selecting an existing session or creating a new one!</h3></p>
  <div class="row"> 
    <div class="column"> 
      <div class="dropdown">
        <button id="course-dropdown" class="dropdown-btn">Select Course</button>
        <div id="dropdown-menu" class="dropdown-content">
          <% if (courses) { %>
            <% for (var i = 0; i < courses.length; i++) { %>
              <a href="/home/<%= courses[i].title %>_<%= courses[i].date %>"><%= courses[i].title %> --- <%= courses[i].date %></a>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
    <div class="column"> 
      <button id="course-create-btn">New Session</button>
      <div id="course-create-field" class="login-area">
        <h3>Create New Course Session</h3>
        <form action="/checkcourse" method="post">
          <p>Course Name<br>
            <input type="text" name="name" value="CIS 197" class="form-control">
          </p>
          <p>Date<br>
            <input type="date" name="date" class="form-control">
          </p>
          <p><input type="submit" value="Create"></p>
        </form>
      </div>
    </div>
  </div>
  <div align="center" class="sign-up-area">
    <% if (error) { %>
    <div><font color="red">Error: <%= error %></div>
    <% } %>
  </div>
  <div align="center" style="color:#0000FF" class="sign-up-area">
    <p><a href="/logout">Log Out</a></p> 
  </div>
</body>
</html>